/*////////////////////////////////////////////////////////////////////////////////////////////*/

/*Shortcuts*/

$bgShadow: linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.89));
$bgShadow2: linear-gradient(rgba(0, 0, 0, 0.39), rgba(0, 0, 0, 0.79));
@mixin tlo() {
  background-position: center center;
  background-size: cover;
/*  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;*/
}
@mixin font() {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
/*////////////////////////////////////////////////////////////////////////////////////////////*/

/*PreLoader*/

#loader-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #ECF0F1;
  /* display: none; */
}
/*Fixes*/

.row {
  margin-bottom: 0px;
  padding: 20px 0px;
}
.full-height {
  min-height: 100vh;
}
.secondary {
  color: #757575;
}
h3 {
  padding-top: 20px;
}
h3.header-text::before {
  content: " ";
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #1e88e5;
  margin: -10px 0px 0px -20px;
}
.m-1 {
  margin: .5rem;
}
.m-2 {
  margin: 1.2rem;
}
.m-3 {
  margin: 1.7rem;
}
.m-4 {
  margin: 2.3rem;
}
.m-5 {
  margin: 3rem;
}
.img {
  max-height: 40vh;
  z-index: 1;
}
.img::after {
  position: absolute;
  content: ' ';
  width: 100px;
  height: 5px;
  top: 50px;
  left: 50px;
  z-index: 3;
  background-color: #1e88e5;
  margin: 10px 0px 0px 20px;
}
i.ikona {
  padding: 17px;
  border: 2px rgba(117, 117, 117, .2) solid;
  border-radius: 50px;
  color: #757575;
}
.z-inner {
  -webkit-box-shadow: inset 0px -5px 36px -10px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: inset 0px -5px 36px -10px rgba(0, 0, 0, 0.23);
  box-shadow: inset 0px -5px 36px -10px rgba(0, 0, 0, 0.23);
}
/*////////////////////////////////////////////////////////////////////////////////////////////*/

body, html {
  color: #212121;
  overflow-x: hidden !important;
  @include font()
}
header {
  background: $bgShadow2, url(../img/header.jpg);
  @include tlo();
  height: 100vh;
  width: 100vw;
  color: #FFF;
}
.icons {
  padding: 70px 0px;
  background-color: #F7F7F7;
}
.parallax-container {
  height: 500px;
}
.contact, footer {
  background-color: #F7F7F7;
}
p.secondary.center-align {
  margin: 0px;
  padding: 40px 0px;
}
.menu {
  position: fixed;
  top: 30px;
  left: 30px;
  /*background-color: rgba(0, 0, 0, 0.1);*/
  padding: 5px 10px;
  color: #1e88e5;
  border-radius: 4px;
  z-index: 5;
}
.nav-text {
  font-weight: 600;
}
#map {
  height: 500px;
  width: 100%;
}
@media (max-width: 500px) {
  header {
    background-position: center center;
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    background-size: auto 100%;
  }
}
.mobileParallax>div>img {
  max-height: 400px;
}
.background>img {
  background-position: center center !important;
}
ul.side-nav>li:not(.user-vieww) {
  border-right: 4px solid none;
  -webkit-transition: all .25s;
  /* For Safari 3.1 to 6.0 */
  transition: all .25s;
  &:hover {
    border-right: 4px solid #2196f3;
    text-indent: 7px;
  }
}
.user-view>a>img, .preloader {
  margin: 0 auto;
}
section {
  outline: none;
}
.fadeInUp, .fadeInRight, .fadeInLeft {
  animation-duration: 1s;
  animation-delay: .2s;
}
.center-text {
  margin: 0 auto !important;
}
/* label focus color */
.input-field input[type=text]:focus + label, .input-field textarea:focus + label {
  color: #2196f3 !important;
  @include font();
}
/* label underline focus color */
.input-field input[type=text]:focus, .input-field textarea:focus {
  border-bottom: 1px solid #2196f3 !important;
  box-shadow: 0 1px 0 0 #2196f3 !important;
  @include font();
}
@media (max-width: 600px) {
  .carousel-item {
    width: 280px !important;
    height: 280px !important;
  }
}
@media (min-width: 600px) {
  .carousel-item {
    width: 400px !important;
    height: 400px !important;
  }
  .carousel {
    height: 400px;
  }
}
@media (min-width: 992px) {
  .carousel-item {
    width: 450px !important;
    height: 450px !important; 
  }
  .carousel {
    height: 500px;
  }
}
@media (min-width: 1200px) {
  .carousel-item {
    width: 500px !important;
    height: 500px !important;
  }
}

input, textarea {
  @include font();
  font-weight: 400;
}